<h1>Edit</h1>

<div class="row">
    <div class="span6 offset1">
      <%= form_tag admin_exam_users_path(@exam_user) do |f| %>
      <%= render "shared/flash_messages" %>
        <table border="1">
          <tr>
            <th>User name</th>
            <th>Is member</th>
          </tr>
          <% @exam_users.each do |exam_user| %>
<%
            if exam_user.status_exam_user ==true
              checked = true
            end
            if exam_user.status_exam_user ==false
              checked = false
            end
          %>
            <tr>
              <td><%= exam_user.user.name %></td>
              <td><%= check_box_tag "status_exam_user[]", exam_user.status_exam_user,checked %></td>
            </tr>
          <% end %>
        </table>
      <%= submit_tag "Update",class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
</div>
